/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Full Screen */
html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

/* Body */
body {
  font-family: "Poppins", sans-serif;
  background: #0f172a;
  color: white;
  overflow-x: hidden;
}

/* Root */
#root {
  width: 100%;
}